body {
  margin:0;
  font-family: 'Montserrat', sans-serif;
  background-image: radial-gradient(circle 675px at center, #ffffff 0%, #673AB7  100%);
  font-weight: 500;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
