
body {
  margin:0;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: 500;
}
.header {
    width: 100%;
    height: 900px;
    background-color: #ccdef0;
    /* #6767e0 - фиолетовый */
    background-image: radial-gradient(circle 675px at center, #ffffff 0%, #87CEEB

 135%);
}

.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.nav-wrapper {
  display: flex;
  /* выравнивает элементы по основной оси  space-between - разбрасывает контент к стенкам*/
  justify-content: space-between;
  /* выровним вертикально по центру */
  align-items: center;
  padding-top: 70px;
  margin-bottom: 90px;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  color: #000000;
}
.logo span{
  color: #5abb33;
}

.nav {
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav_item {
  margin-right: 50px;
}

.nav_item:last-child{
  margin-right: 0px;
}

.nav_link {
  color: black;
  text-decoration: none;
/* Style for "Главная" */
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
.nav_link:hover {
  text-decoration:overline;
}

.header-content {
  display: flex;
  flex-direction: row;
}

.header-text {
  width: 500px;
  margin-top: 90px;
}

.header_title{
  /* Style for "Натуральны" */

font-size: 40px;
font-weight: 800;
line-height: 1.3;
margin: 0;
margin-bottom: 35px;
}

.header_word{
  /* Style for "Cок являет" */

font-size: 20px;
font-weight: 500;
line-height: 1.7;
margin-bottom: : 35px;

}

.header_botton{
  /* Style for "Прямоуголь" */
display: inline-block;
height: 65px;
padding-left: 35px;
padding-right: 35px;
border-radius: 33px;
background-color: #fadb60;
background-image: linear-gradient(to top, #ffcc00 0%, #fadb60 100%);


/* Style for "Получить з" */
color: #000000;
font-size: 24px;
font-weight: 700;
text-decoration: none;
line-height: 65px;
}

.header-photo {
  width: 670px;
}

.header-social {
  font-size: 27px;

}

.social_item {
  color: #000000;
  text-decoration: none;
  margin-right: 30px;
}

.social_item:last-child {
  margin-right: 0px
}
.social_item:hover {
  opacity: 0.5;
}

.footer {
  width: 100%;
  height: 114px;
  background-color: #232323;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

.footer::before {
  content: "";
  display: table;
}
