body {
  margin:0;
  font-family: 'Montserrat', sans-serif;
  background-image: radial-gradient(circle 675px at center, #ffffff 0%, #673AB7  100%);
  font-weight: 500;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.header_botton{
  /* Style for "Прямоуголь" */
display: inline-block;
height: 65px;
padding-left: 35px;
padding-right: 35px;
border-radius: 33px;
background-color: #fadb60;
background-image: linear-gradient(to top, #532f93 0%, #b58bff  100%);


/* Style for "Получить з" */
color: #000000;
font-size: 24px;
font-weight: 700;
text-decoration: none;
line-height: 65px;
}


.header-social {
  font-size: 27px;
}

.social_item {
  color: #000000;
  text-decoration: none;
  margin-right: 30px;
}

.footer {
  width: 100%;
  height: 114px;
  background-color: #232323;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

.footer::before {
  content: "";
  display: table;
}
